- name: Create a jenkins job using basic authentication
  community.general.jenkins_job:
    config: "{{ lookup('file', 'pipeline.xml') }}"
    name: test
    password: admin123
    url: http://172.31.87.202:8080
    user: admin
